/* Footer.module.css */

.footer {
  background-color: #FFFFFF; /* Assuming a white background; adjust if different */
  padding: 60px;
  padding-bottom: 150px;
  border-top: 5px solid #000000; /* Black top border */
  font-family: Inter, sans-serif;
}

.footerContent {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footerInfo {
  color: #000000; /* black color for text */
  font-size: 16px;
  font-weight: 500; /* Medium font weight */
}

.footerLinks {
  display: flex;
  gap: 10px;
}

.footerLinks a {
  color: #000000; /* black color for links */
  font-size: 16px;
  font-weight: 500; /* Medium font weight */
  text-decoration: none; /* No underline */
}

.footerLinks span {
  color: #000000; /* black color for separator */
  font-size: 16px;
  font-weight: 500;
}

.footerCopy {
  color: #000000; /* black color for text */
  font-size: 14px;
  font-weight: 500; /* Medium font weight */
  text-align: center;
  padding-top: 33px; /* Space between content and copyright text */
}


/* Responsive Adjustments */
@media (max-width: 992px) {
  .footer {
    padding: 15px;
  }
  .footerInfo, .footerLinks a, .footerLinks span {
    font-size: 14px;
  }
}

@media (max-width: 768px) {
  .footerContent {
    flex-direction: column;
    align-items: flex-start;
  }
  .footerLinks {
    flex-direction: column;
    align-items: flex-start;
    gap: 5px;
  }
  .footerLinks a, .footerLinks span {
    font-size: 12px;
  }
  .footerCopy {
    text-align: left;
    padding-top: 5px;
  }
}


.parent-container {
  height: auto; /* or a specific height large enough to contain all children */
  min-height: 100vh; /* Minimum height to at least cover the viewport height */
}
