/* header container */
.header { 
    width: 100%;
    top: 0;
    left: 0;
    background-color: transparent;
}

.nav-item:hover {
    border: inset;
}

.nav-item a {
    text-decoration: none;
}

#home-page {
    display: flex;
    align-items: center;
    padding: 5px;
    margin: 5px;
    text-decoration: none;
    font-weight: bold;
    color: black;
}

.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: x-large;
    border-bottom: 5px solid black;
    margin: 0;
    position: relative;
    top: 0;
}

#nav-menu {
    width: 100%;
    
}

#unordered {
    display: flex;
    flex-direction: row;
    margin-right: 15px;
    
}


.nav-item {
    color: black;
    list-style: none;
    border-right: 1px solid black;
    padding-right: 7px;
    padding-left: 7px;
}


.dropdown-menu {
    position: absolute;
    
    list-style: none;
    padding: 5px;
    margin: 0px;
    margin-top: 5px;
    background-color: white;
    border-radius: 5%; 
    z-index: 2; 
    box-shadow: 10px 10px 10px;
    border: solid;
}


.dropdown-menu > li:hover {
    padding: inherit;
    border: inset;
    box-shadow: 5px 10px;
    margin-bottom: 5px;
}

.dropdown-link {
    color: black;
    
}

nav ul li a:hover {
    color: #1b4de8;
}

nav .menu {
    display: none;
    position: absolute;
    top:.75rem;
    right: .5rem;
    flex-direction: column;
    justify-content: space-between;
    width: 2.25rem;
    height: 2rem;
}

nav .menu span {
    height: .4rem;
    width: 100%;
    background-color: black;
    border-radius: .2rem;
}

@media (max-width: 480px) {
    nav .menu{
        display: flex;
    }

    #unordered {
        display: none;
        flex-direction: column;
        align-items: start;
    }

    /* nav ul li{
        display: none;
        flex-direction: column;
        width: 100%;
        align-items: start;
        margin-bottom: .25rem;
    } */

    nav ul li {
        width: 100%;
        text-align: center;    
    }

    .open {
        display: flex;
    }


}