.textSection {
  top: 60%;
  width: 95%;
  position: absolute;
  text-align: end;
}
  
  .textTop {
    margin: 0;
    padding-right: 5%;
    padding-top:-5vw;
    color: rgb(235, 184, 52);
    font-family: Inter;
    font-size: 64px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    position: relative;
    
  }
  
  .bottomRight {
   
    bottom: 20px;
    right: 20px;
   
    color: #FFFEFE;
    text-align: center;
    font-family: Inter;
    font-size: 64px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-decoration-line: underline;
  }
  

  /* Responsive adjustments */
@media (max-width: 1024px) {
  .topLeft, .bottomRight {
      font-size: 48px;
  }
}

@media (max-width: 768px) {

  .textSection {
    top: 70%;
    width: 95%;
    margin-right: 10px;
    

    
    
  }
    
    .textTop {
      margin: 0;
     
      padding-left: 30vw;
      padding-top:-5vw;
      color: rgb(235, 184, 52);
      font-family: Inter;
      font-size: 24px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
    
      
    }
    
    .bottomRight {
     
      bottom: 20px;
      right: 20px;
     
      color: #FFFEFE;
     
      font-family: Inter;
      font-size: 24px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      text-decoration-line: underline;
    }
    
}