.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  border: 2px solid black;

}


.contents {
  flex-direction: column; 
  margin-bottom: 10px; 
  font-size: 10px;
  background-color: white;
  height: 100%;
}

.descList {
  padding: 0;
}

.info p {
  border: 2px solid black;
  padding: 2%;
  margin: 5%;
  box-shadow: 0px 8px 2px 4px;
  margin-bottom: 10%;
}

.buttons {
  display: flex;
  text-align: center;
  font-size: 22pt;
}

.button:hover {
  background-color: #45a049;
}

.buttons:active {
  background-color: lightgrey;
}

.info {
  font-size: 22pt;
  box-shadow: 6px 6px 8px black;
  /* height: 100%; */
  background-color: lightgrey;
  display: flex;
  align-items: center;
  padding-left: 10%;
  padding-right: 10%;
}

.table-content {
  grid-column: 2; /* Table in the second column */
  background: #f4f4f4; /* Background color for consistency */
  padding: 20px; /* Padding around the table */
  border-radius: 5px; /* Rounded corners for the table container */
  overflow-x: auto; /* Allows horizontal scrolling */
}

table {
  width: 100%;
  table-layout: fixed; 
  border: 3px inset black;
}



th, td {
  border: 1px solid black;
  padding: 8px;
  text-align: left;
}

.centered-row td {
  text-align: center;
  vertical-align: middle;
}

/* Responsive adjustments */
@media (max-width: 1024px) {
  .container {
    grid-template-columns: 1fr; /* Stack the columns vertically on smaller screens */
  }
}

@media (max-width: 768px) {
  .text-content, .title-buttons {
    font-size: 14px; /* Smaller font size for smaller screens */
  }
  th, td {
    padding: 6px; /* Reduce padding in table cells */
    font-size: 10px; /* Reduce font size in table to fit content */
  }

  .buttons {
    font-size: 14pt;
  }

  .info {
    font-size: 14pt;
  }
}
