.why-ute-aerospace-container {
  text-align: center;
  max-width: 90%;
  margin: 20px auto;
}

.why-ute-aerospace {
  text-align: left;
  background-color: white;
  padding: 20px;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

.why-ute-aerospace-container h2 {
  color: #000;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-family: 'Inter', sans-serif;
  font-size: 64px; /* Large size for desktops */
  font-weight: 600;
  margin-bottom: 30px;
}

.why-ute-aerospace p {
  color: #333;
  font-family: 'Inter', sans-serif;
  font-size: 28px; /* Larger text for desktops */
  line-height: 1.6;
  margin-bottom: 16px;
  font-style: italic;
}

.why-ute-aerospace button {
  background-color: var(--Color, #095ef8);
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  display: block;
  margin: 10px 0; /* Adjusted margin for mobile */
  border-radius: 4px;
  text-decoration: underline;
  font-style: italic;
}

.why-ute-aerospace button:hover {
  background-color: #004494;
}

/* Media Queries */
@media (max-width: 992px) {
  .why-ute-aerospace-container h2 {
      font-size: 48px; /* Smaller font size for tablets */
  }

  .why-ute-aerospace p {
      font-size: 22px; /* Smaller text size for tablets */
  }
}

@media (max-width: 768px) {
  .why-ute-aerospace-container h2 {
      font-size: 36px; /* Smaller font size for mobile phones */
  }

  .why-ute-aerospace p {
      font-size: 18px; /* Smaller text size for mobile phones */
  }

  .why-ute-aerospace button {
      padding: 8px 16px; /* Smaller padding for mobile */
      font-size: 14px; /* Smaller font size for mobile */
  }
}
