.container {
    text-align: center;
    position: relative;
  }
  
  .title {
    position: absolute;
    top: 10%; 
    left: 50%; 
    transform: translate(-50%, -50%);
    text-align: center;
    font: 42pt bolder;
    justify-content: center;
  }
  
  .image {
    width: 100%; 
    height: 33vh; 
    max-height: 85vh; 
  }
  
  .title {
    font-size: 64px; 
    font-weight: bold; 
  }
  

  @media (max-width: 992px) {
    .title {
      font-size: 48px; 
    }

   
  }
  

  @media (max-width: 768px) {
    .title {
      font-size: 32px; 
    }

}