.container {
    text-align: center;
    position: relative;
  }
  
  .title {
    position: absolute;
    top: 10%; 
    left: 50%; 
    transform: translate(-50%, -50%);
    text-align: center;
    font: 42pt bolder;
    justify-content: center;
  }
  
  .image {
    width: 100%; 
    height: 50vh; 
    max-height: 85vh; 
  }
  
  .title {
    font-size: 64px; 
    font-weight: bold; 
  }
  
  @media(min-width: 769px) and (max-width: 821px) {
    .title {
      font-size: 40pt; 
    }

    .image {
      height: 35vh;
    }
}
@media (min-width:821px) and (max-width:851px){
  .title {
    font-size: 50pt; 
  }

  .image {
    height: 85vh;
  } 
  
}
@media (min-width:855px) and (max-width:911px){
  .title {
    font-size: 50pt; 
  }

  .image {
    height: 85vh;
  } 
  
}
@media (min-width:916px) and (max-width:932px){
  .title {
    font-size: 50pt; 
  }

  .image {
    height: 85vh;
  } 
  
}
@media (min-width:912px) and (max-width:915px){
  .title {
    font-size: 50pt; 
  }

  .image {
    height: 40vh;
  } 
  
}

@media(min-width: 852px) and (max-width: 853px) {
  .title {
    font-size: 48px; 
  }

  .image {
      height: 40vh;
  }
}

  @media(min-width: 541px) and (max-width: 739px) {
    .title {
      font-size: 48px; 
    }

    .image {
        height: 40vh;
    }
  }
  @media(min-width: 743px) and (max-width: 768px) {
    .title {
      font-size: 48px; 
    }

    .image {
        height: 40vh;
    }
  }

  @media(min-width: 740px) and (max-width: 742px) {
    .title {
      font-size: 48px; 
    }

    .image {
        height: 70vh;
    }
  }
  

  @media(min-width: 497px) and (max-width: 540px) {
    .title {
      font-size: 40px; 
    }
    .image {
      height: 35vh;
  }

}


@media (max-width: 496px) {
    .title {
        font-size: 20px; 
      }

    .image {
        height: 20vh;
    }
}

@media (min-width:933px) and (max-width:1025px){
  .title {
    font-size: 60pt; 
  }

  .image {
    height: 40vh;
  } 
  
}