
  .infoSection {
    margin: 5%;
  }

  .contentSection {
    background-color: #04423e;
    padding:40px;  
    box-shadow: 0px 8px 12px rgba(0, 0, 0, 0.75);  
  }

  .articleHead {
    text-align: center;
    width: 100%;
    margin-top: auto;
    position: relative;

  }
  
  
  .title {
    color: gold;
    font-size: 28px; /* Adjust font size as needed */
    margin-top: 20px; /* Space between title and previous content */
  }
  
  .description {
    color: white;
    font-size: 28px; /* Adjust font size as needed */
    line-height: 1.5; /* Adjust line height for readability */
  }
  


 