h1{
    position: absolute;
    font-size: 30pt;
    color: white bolder;
}
.timer-section{
    position: absolute;
  top: 90%; 
  left: 50%; 
  transform: translate(-50%, -50%);
  font: 56pt bolder;
  color: white;
}

@media (max-width:1024px){
    .timer-section{
      position: absolute;
      top: 90%; 
      left: 50%; 
      transform: translate(-50%, -50%);
      font: 40pt bolder;
      color: white;
    }
    
  }
  @media (min-width:821px) and (max-width:920px){
    .timer-section{
      position: absolute;
      top: 90%; 
      left: 50%; 
      transform: translate(-50%, -50%);
      font: 35pt bolder;
      color: white;
    }
    
  }

  @media (min-width:667px) and (max-width:820px){
    .timer-section{
      position: absolute;
      top: 90%; 
      left: 50%; 
      transform: translate(-50%, -50%);
      font: 30pt bolder;
      color: white;
    }
    
  }

  @media (max-width:440px){
    .timer-section{
      position: absolute;
      top: 75%; 
      left: 50%; 
      transform: translate(-50%, -50%);
      font: 20pt bolder;
      color: white;
    }
   
    
  }
  @media (min-width:441px) and (max-width:541px){
    .timer-section{
      position: absolute;
      top: 75%; 
      left: 50%; 
      transform: translate(-50%, -50%);
      font: 30pt bolder;
    }
    
  }