#contact{
   position: absolute;
   top: 50%; 
   left: 50%; 
   transform: translate(-50%, -50%);
   color: white;
   background-color: none; 
   padding: 0;
   text-align: center;
   font: 60pt bolder;
   
}

#contact-table {
  box-shadow: 0px 8px 12px rgba(0, 0, 0, 0.75);
}

#contact-table, #contact-table td {
  border: none;
  padding: 15px;
}

#contact-table, #contact-table th {
  border-right: none;
  border-left: none;
  border-top: none;
  background-color: rgb(69, 122, 187);
  width: 80%;
  align-self: center;
  border-collapse: collapse;
  margin: 20px auto;
  border-radius: 10px;
  padding: 15px;
}

img{
   width: 100%;
   position: relative;
}

.right {
  text-align: right;
  margin: auto;
}




#description{
   text-align: center;
   font-size: 30pt;
}



.request{
   display: grid;
   grid-template-columns: 1fr 1fr;
   grid-template-rows: 1fr;
   align-content: center;
   margin: 100px;
}


@media(max-width:480px){
  img{
      max-width: 480px;
  }
  #contact{
      position: absolute;
      top: 20%; 
      left: 25%; 
      transform: translate(-0%, -0%);
      color: white;
      background-color: none; 
      padding: 0;
      text-align: center;
      font: 30pt bolder;
   }
   #contact-table, #contact-table td {
      border: none;
      font-size: 10pt;
      margin: 1/3;
    }
    
}

@media(min-width:539px) and (max-width:770px){
  img{
      max-width: 100%;
  }
  #contact{
      position: absolute;
      top: 30%; 
      left: 35%; 
      transform: translate(-0%, -0%);
      color: white;
      background-color: none; 
      padding: 0;
      text-align: center;
      font: 30pt bolder;
   }
   #contact-table, #contact-table td {
      border: none;
      font-size: 15pt;
      align-self: center;
      width: 80%;
    }    
}

@media(min-width:771px) and (max-width:1024px){
  img{
      max-width: 100%;
  }
  #contact{
      position: absolute;
      top: 30%; 
      left: 35%; 
      transform: translate(-0%, -0%);
      color: white;
      background-color: none; 
      padding: 0;
      text-align: center;
      font: 30pt bolder;
   }
   #contact-table, #contact-table td {
      border: none;
      font-size: 25pt;
      align-self: center;
      width: 80%;
    }  
    
    
}