header {
  position: relative;
}

.top-logos{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(auto, auto);
  position: absolute;
  top: 50%; 
  left: 50%; 
  transform: translate(-50%, -50%);
  text-align: center;
  font: 42pt bolder;
  justify-content: center;
}

#contact{
  grid-column: 1/3;
  color: white;
}

.contact-icon{
  height: 50%;
  width: 50%;
  justify-self: center;
  color: white;
  padding: 25px;
}


#contact-table {
  box-shadow: 0px 8px 12px rgba(0, 0, 0, 0.75);
}

#contact-table, #contact-table td {
  border: none;
  padding: 15px;
}

#contact-table, #contact-table th {
  border-right: none;
  border-left: none;
  border-top: none;
  background-color: rgb(69, 122, 187);
  width: 80%;
  align-self: center;
  border-collapse: collapse;
  margin: 20px auto;
  border-radius: 10px;
  padding: 15px;
}

#contact-image{
   width: 100%;
   position: relative;
   
   max-height: 850px;
}


.right {
  text-align: right;
  margin: auto;
}




#description{
   text-align: center;
   font-size: 30pt;
}



.request{
   display: grid;
   grid-template-columns: 1fr 1fr;
   grid-template-rows: 1fr;
   align-content: center;
   margin: 100px;
}


@media(max-width:480px){
  #contact-image{
      max-width: 480px;
  }
  #contact{
      position: absolute;
      top: 20%; 
      left: 25%; 
      transform: translate(-0%, -0%);
      color: white;
      background-color: none; 
      padding: 0;
      text-align: center;
      font: 30pt bolder;
   }
   #contact-table, #contact-table td {
      border: none;
      font-size: 10pt;
      margin: 1/3;
    }

    #call-icon{
      position: absolute;
      border-radius: 50%;
      height: 10%;
      width: 10%;
    
    }
    
    #email-icon{
      position: absolute;
      height: 10%;
      width: 10%;
      border-radius: 50%;
    }
    
}

@media(min-width:539px) and (max-width:770px){
  #contact-image{
      max-width: 100%;
  }
  #contact{
      position: absolute;
      top: 30%; 
      left: 35%; 
      transform: translate(-0%, -0%);
      color: white;
      background-color: none; 
      padding: 0;
      text-align: center;
      font: 30pt bolder;
   }
   #contact-table, #contact-table td {
      border: none;
      font-size: 15pt;
      align-self: center;
      width: 80%;
    }    

    #call-icon{
      position: absolute;
      border-radius: 50%;
      height: 10%;
      width: 10%;
    
    }
    
    #email-icon{
      position: absolute;
      height: 10%;
      width: 10%;
      border-radius: 50%;
    }
}

@media(min-width:771px) and (max-width:1024px){
  #contact-image{
      max-width: 100%;
  }
  #contact{
      position: absolute;
      top: 30%; 
      left: 35%; 
      transform: translate(-0%, -0%);
      color: white;
      background-color: none; 
      padding: 0;
      text-align: center;
      font: 30pt bolder;
   }
   #contact-table, #contact-table td {
      border: none;
      font-size: 25pt;
      align-self: center;
      width: 80%;
    }  
    #call-icon{
      position: absolute;
      border-radius: 50%;
      height: 10%;
      width: 10%;
    
    }
    
    #email-icon{
      position: absolute;
      height: 10%;
      width: 10%;
      border-radius: 50%;
    }
    
}