
.leader-container {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 100px;
    margin-top: 75px;
}


.leader-card {
    box-shadow: 5px 15px 15px 5px; 
    font-size: large;
    
}

.caption {
    flex: 1;
    margin-bottom: 25px;
    text-align: center;
}

.bio-link {
    font-size: 24px;
}


/* Responsive Adjustments */
@media (max-width: 992px) {
  
    .leader-container {
        align-items: center;
    }
}

@media (max-width: 468px) {
   
    /* .leader-container {
        grid-template-columns: 1fr; 
        grid-template-rows: repeat(2, auto);
    }
    .leader-card {
        flex-direction: column; 
        align-items: center; 
        text-align: center;
    }
    .caption {
        margin-left: 0; 
    } */
}